@import 'tailwindcss';

:root {
   /* UI Colors: chosen from https://coolors.co*/
   --color-background: #0D1321;
   --color-border: #F18F01;
   --color-surface: #151D2E;
   /* Text */
   --color-text: #FDFFFF;
   --color-muted: #7C898B;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--color-background);
    color: var(--color-text);
}